<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="binh.app.bestgoal"
    android:versionCode="2"
    android:versionName="1.0" >
    ////add runtime permission

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity android:name="binh.app.bestgoal.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="binh.app.bestgoal.VideoforPlayer" >
        </activity>
        <activity android:name="binh.app.bestgoal.PlayerListActivity" >
        </activity>
        <activity android:name="binh.app.bestgoal.FootballClubActivity" >
        </activity>
        <activity android:name="binh.app.bestgoal.FootballPlayerActivity" >
        </activity>
        <activity android:name="binh.app.bestgoal.ClubListActivity" >
        </activity>
        <activity android:name="binh.app.bestgoal.FootballLeagueActivity" >
        </activity>
        <activity android:name="binh.app.bestgoal.VideoforClub" >
        </activity>
        <activity android:name="binh.app.bestgoal.VideoforLeague" >
        </activity>
        <activity android:name="binh.app.bestgoal.LeagueListActivity" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
